@keyframes slideBar{
    0%{
        height: 100vh;
    }
    100%{
        height: 0;
    }
}

@keyframes pumpLogo{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}


*{
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    color: white;
    font-size: 1.5vw;
    scroll-behavior: smooth;
}
/* body{
    /* position: relative; */
    /* overflow: hidden; */
    /* height: 100vh; */
    /* height: 4444px; */
/*} */


::-webkit-scrollbar {
    display: none;
}



.preloader{
    z-index: 200;
    display: flex;
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    /* animation: slideBar 2s ease 1.5s; */
    background-color: black;
    
}

.preloader img{
    width: 20vw;
    /* height: 9vw; */
    position: absolute;
    top: 41%;
    left: 39%;
    animation: pumpLogo 1s linear infinite;
    /* color: #8DECB4; */
}